# Node.js dependencies
node_modules/

# VS Code build output
out/
dist/
.vscode-test/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code workspace settings
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Ignore dump and crash files
*.stackdump
*.html

# Coverage reports
coverage/

# Env files
.env
*.vsix
